.formContainer form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.formContainer form > div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.formContainer input {
    display: block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;}

.successMessage {
    display: none;
}

.formbutton {
    align-self: center;
    width: 120px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #044d9c;
}
.formContainer {
    background-color: #E6EFF9;
    border: 1px solid #044d9c;
    padding: 50px;
    border-radius: 5px;
}

.formContainer h1 {
    text-align: center;
}

.instruction {
    font-style: italic;
    size: 80em;
}